<div class="sub_page">
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img
              src="https://u6wdnj9wggobj.vcdn.cloud/static/version1701357859/frontend/Mgs/mkingdom/vi_VN/Magento_Cms/images/thethanhvien/s-banner-4.png"
              alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About us
              </h2>
            </div>
            <p>
<h5>Hello all dear members of Mykingdom!</h5>

We are pleased to announce that, from May 1, 2023, Mykingdom officially joins the My Points membership program operated by Viet Tinh Anh Company. This means that, from the above time, all Mykingdom members will have the opportunity to accumulate points and take advantage of benefits at all store systems participating in the My Points program such as Hobiverse, ZuZu, Clever Collection and many other stores.

With the combination of Mykingdom and My Points, we are committed to bringing customers a better shopping experience, while providing many attractive incentives and benefits.

In particular, Mykingdom's old membership program will no longer be effective from this point on. All Mykingdom members' current reward points benefits will be automatically converted and integrated into the My Points program. This helps customers continue to enjoy incentives and benefits seamlessly.

We look forward to continuing our journey together with you, and are ready to provide the best support and service in every shopping experience at My Points.

Thank you for the great support of Mykingdom members over the past time. Join us in welcoming wonderful new experiences at My Points!

<p>Best regards,
</p>
<span>Mykingdom</span>
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
</div>