<div class='page-wrapper' id='main-wrapper' data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full'
   data-sidebar-position='fixed' data-header-position='fixed'>
<div class="body-wrapper">
   <div class="container-fluid">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-4">Add New Brand</h5>
            <form action="/brand/add" method="post">
               <div class="mb-3">
                  <label for="brandName" class="form-label">Brand Name:</label>
                  <input type="text" class="form-control" name="name" id="brandName" required>
               </div>
               <div class="mb-3">
                  <label for="brandCountry" class="form-label">Brand Country:</label>
                  <input type="text" class="form-control" name="country" id="brandCountry" required>
               </div>
               <button type="submit" class="btn btn-primary">Add Brand</button>
            </form>
         </div>
      </div>
   </div>
</div>

</div>